<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zyz.wenda.dao.MessageDAO">
    <resultMap id="conversationMap" type="Conversation">
        <result column="messageCount" property="messageCount"/>
        <result column="conversationId" property="conversationId"/>
        <association property="latestMessage" javaType="Message">
            <result column="id" property="id"/>
            <result column="content" property="content"/>
            <result column="from_id" property="fromId"/>
            <result column="to_id" property="toId"/>
            <result column="create_date" property="createDate"/>
            <result column="conversation_id" property="conversationId"/>
            <result column="has_read" property="hasRead"/>
        </association>
    </resultMap>
    <select id="getConversationList" resultMap="conversationMap">
        SELECT result.*, conversation_id AS conversationId, COUNT(id) AS messageCount
        FROM (
            SELECT * FROM message
            WHERE from_id = #{userId} OR to_id = #{userId}
            ORDER BY create_date DESC
            LIMIT 100000000) AS result
        GROUP BY conversation_id
        LIMIT #{offset}, #{limit}
    </select>
</mapper>