<script src="/scripts/main/jquery.js" type="text/javascript"></script>
<script src="/scripts/main/base/base.js" type="text/javascript"></script>
<script src="/scripts/main/base/event.js" type="text/javascript"></script>
<script src="/scripts/main/base/util.js" type="text/javascript"></script>
<script src="/scripts/main/component/component.js" type="text/javascript"></script>
<script src="/scripts/main/component/popup.js" type="text/javascript"></script>
<script src="/scripts/main/component/popupAdd.js" type="text/javascript"></script>
<script src="/scripts/main/component/popupMsg.js" type="text/javascript"></script>
<script src="/scripts/main/util/action.js" type="text/javascript"></script>
<script src="/scripts/main/util/business.js" type="text/javascript"></script>
<script src="/scripts/main/site/home.js" type="text/javascript"></script>
<script src="/scripts/main/site/detail.js" type="text/javascript"></script>
<script src="/scripts/main/site/follow.js" type="text/javascript"></script>
<script type="text/javascript" src="/scripts/main/site/profile.js"></script>